<!DOCTYPE html>
<html>
<head>
    <title>Message Details</title>
</head>
<body>
    <h1>Message Details</h1>
    <p><strong>User:</strong> <%= row.user_name %></p>
    <p><strong>Message:</strong> <%= row.message_text %></p>
    <p><strong>Added on:</strong> <%= row.recived %></p>
    <a href="/message/">Back to Home</a>
</body>
</html>
